@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SairaExtra";
  src: url("../assets/fonts/SairaExtraCondensed-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

body {
  font-size: 18px;
  // font-family: "SairaExtra", Courier, monospace;
  // font-family: "Times New Roman", serif;
  // font-family: "Courier", monospace;
  font-family: "Trebuchet MS", sans-serif;
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
  line-height: normal;
  color: #282828;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #c1ff0b;
  text-decoration: inherit;
}
a:hover {
  color: #c1ff0b;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 992px;
  background-color: red;
}

.cool-btn {
  background-color: #181818;
  outline: none;
  border: 1px solid #3b3b3b;
  color: #afafaf;
  border-radius: 8px;
  min-height: 20px;
  padding: 5px 8px;
  font-size: 20px;
  font-family: "SairaExtra", Courier, monospace;
  cursor: pointer;
  width: max-content;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #ff5e00;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff5e00;
}
::-webkit-scrollbar-thumb:active {
  background: #ff5e00;
}
::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
